<div id="line_1" class="line">
  <ul>
    <li><a class="digit" href="#">万位</a></li>
    <li><a class="number" num="0" href="#">0</a></li>
    <li><a class="number" num="1" href="#">1</a></li>
    <li><a class="number" num="2" href="#">2</a></li>
    <li><a class="number" num="3" href="#">3</a></li>
    <li><a class="number" num="4" href="#">4</a></li>
    <li><a class="number" num="5" href="#">5</a></li>
    <li><a class="number" num="6" href="#">6</a></li>
    <li><a class="number" num="7" href="#">7</a></li>
    <li><a class="number" num="8" href="#">8</a></li>
    <li><a class="number" num="9" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>
<div id="line_2" class="line">
  <ul>
    <li><a class="digit" href="#">千位</a></li>
    <li><a class="number" href="#">0</a></li>
    <li><a class="number" href="#">1</a></li>
    <li><a class="number" href="#">2</a></li>
    <li><a class="number" href="#">3</a></li>
    <li><a class="number" href="#">4</a></li>
    <li><a class="number" href="#">5</a></li>
    <li><a class="number" href="#">6</a></li>
    <li><a class="number" href="#">7</a></li>
    <li><a class="number" href="#">8</a></li>
    <li><a class="number" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>
<div id="line_3" class="line">
  <ul>
    <li><a class="digit" href="#">百位</a></li>
    <li><a class="number" href="#">0</a></li>
    <li><a class="number" href="#">1</a></li>
    <li><a class="number" href="#">2</a></li>
    <li><a class="number" href="#">3</a></li>
    <li><a class="number" href="#">4</a></li>
    <li><a class="number" href="#">5</a></li>
    <li><a class="number" href="#">6</a></li>
    <li><a class="number" href="#">7</a></li>
    <li><a class="number" href="#">8</a></li>
    <li><a class="number" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>
<div id="line_4" class="line">
  <ul>
    <li><a class="digit" href="#">十位</a></li>
    <li><a class="number" href="#">0</a></li>
    <li><a class="number" href="#">1</a></li>
    <li><a class="number" href="#">2</a></li>
    <li><a class="number" href="#">3</a></li>
    <li><a class="number" href="#">4</a></li>
    <li><a class="number" href="#">5</a></li>
    <li><a class="number" href="#">6</a></li>
    <li><a class="number" href="#">7</a></li>
    <li><a class="number" href="#">8</a></li>
    <li><a class="number" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>
<div id="line_5" class="line">
  <ul>
    <li><a class="digit" href="#">个位</a></li>
    <li><a class="number" href="#">0</a></li>
    <li><a class="number" href="#">1</a></li>
    <li><a class="number" href="#">2</a></li>
    <li><a class="number" href="#">3</a></li>
    <li><a class="number" href="#">4</a></li>
    <li><a class="number" href="#">5</a></li>
    <li><a class="number" href="#">6</a></li>
    <li><a class="number" href="#">7</a></li>
    <li><a class="number" href="#">8</a></li>
    <li><a class="number" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>
<div id="line_6" class="line">
  <ul>
    <li><a class="digit" href="#">组选</a></li>
    <li><a class="number" href="#">0</a></li>
    <li><a class="number" href="#">1</a></li>
    <li><a class="number" href="#">2</a></li>
    <li><a class="number" href="#">3</a></li>
    <li><a class="number" href="#">4</a></li>
    <li><a class="number" href="#">5</a></li>
    <li><a class="number" href="#">6</a></li>
    <li><a class="number" href="#">7</a></li>
    <li><a class="number" href="#">8</a></li>
    <li><a class="number" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>
<div id="line_7" class="line">
  <ul>
    <li><a class="digit" href="#">不定</a></li>
    <li><a class="number" href="#">0</a></li>
    <li><a class="number" href="#">1</a></li>
    <li><a class="number" href="#">2</a></li>
    <li><a class="number" href="#">3</a></li>
    <li><a class="number" href="#">4</a></li>
    <li><a class="number" href="#">5</a></li>
    <li><a class="number" href="#">6</a></li>
    <li><a class="number" href="#">7</a></li>
    <li><a class="number" href="#">8</a></li>
    <li><a class="number" href="#">9</a></li>

    <li><a class="char" action="all" href="#">全</a></li>
    <li><a class="char" action="large" href="#">大</a></li>
    <li><a class="char" action="small" href="#">小</a></li>
    <li><a class="char" action="odd" href="#">单</a></li>
    <li><a class="char" action="even" href="#">双</a></li>
    <li><a class="char" action="clear" href="#">清</a></li>
  </ul>
</div>