
  <table class="table">
    <thead>
      <tr>
        <th>订单号</th>
        <th>下单时间</th>
        <th>玩法种类</th>
        <th>玩法名称</th>
        <th>期号</th>
        <th>投注内容</th>
        <th>单柱金额</th>
        <th>投注总额</th>
      </tr>
    </thead>
    <tbody id='addtr'>
      <tr>
        <td>307849</td>
        <td>2013-11-14 12:12:23</td>
        <td>重庆彩</td>
        <td>四星直选复式</td>
        <td>131114062</td>
        <td>7，7，7，7</td>
        <td>1.00</td>
        <td>1.00</td>
      </tr>
      <tr>
        <td>307849</td>
        <td>2013-11-14 12:12:23</td>
        <td>天津彩</td>
        <td>四星直选复式</td>
        <td>131114062</td>
        <td>7，7，7，7</td>
        <td>1.00</td>
        <td>1.00</td>
      </tr>
      <tr>
        <td>307849</td>
        <td>2013-11-14 12:12:23</td>
        <td>排列三</td>
        <td>四星直选复式</td>
        <td>131114062</td>
        <td>7，7，7，7</td>
        <td>1.00</td>
        <td>1.00</td>
      </tr>
      <tr>
        <td>307849</td>
        <td>2013-11-14 12:12:23</td>
        <td>上海乐</td>
        <td>四星直选复式</td>
        <td>131114062</td>
        <td>7，7，7，7</td>
        <td>1.00</td>
        <td>1.00</td>
      </tr>
      <tr>
        <td>307849</td>
        <td>2013-11-14 12:12:23</td>
        <td>重庆彩</td>
        <td>四星直选复式</td>
        <td>131114062</td>
        <td>7，7，7，7</td>
        <td>1.00</td>
        <td>1.00</td>
      </tr>
    </tbody>
  </table>
