<div id="operate_left">
    <p>
        <span>投注内容:</span>
    </p>
</div>
<div id="operate_middle">
    <div id="div_btnGroup">
        <button type="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span> 添加号码</button>
        <button type="button" class="btn btn-warning btn-sm">
            <span class="glyphicon glyphicon-remove"></span> 清空号码</button>
    </div>
    <div id="div_betting_input" >
        <span class="label label-info numLbl">123</span>
        <span class="label label-info numLbl">012</span>
        <span class="label label-info numLbl">103</span>
    </div>
</div>
<div id="operate_right">
    <p>
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span> 确认投注
        </button>
    </p>
</div>