/*
 game css
 */
.panel_category {
  height: 35px;
  background-color: white;
}
.category_title {
  font-weight: bold;
  font-size: 15px;
}
.panel-heading .game_category {
  padding-left: 10px;
  padding-top: 6px;
  float: left;
  width: 12%;
  height: 100%;
  background-color: white;
}
.nonDisplay {
  display: none;
}
.isDisplay {
  display: block;
}