<% layout('layout') -%>
<!-- script -->
<%- Loader().js("/public/javascripts/game.js").done() %>
<div class="page-header">
  <h1>排列三</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <%- partial("component/categoryZone") %>
  </div>
  <div class="panel-body">
      <div id="div_dashborad">
        <%- partial('component/dashboard') %>
      </div>
      <div id="div_inputZone">
        <%- partial('component/inputZone') %>
      </div>
      <div id="total">
        <%- partial("component/total") %>
      </div>  
      <div id="div_operateZone">
        <%- partial("component/operateZone") %>
      </div>
  </div>
  <%- partial("component/gameList") %>
</div>