<% layout('layout') -%>
<div class="page-header">
    <h1>重庆 <small>时时彩</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">四星直选</a></li>
      <li ><a href="#">三星直选</a></li>
      <li ><a href="#">三星组选</a></li>
      <li ><a href="#">二星直选</a></li>
      <li ><a href="#">二星组选</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          更多 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ><a href="#">后一直选</a></li>
          <li ><a href="#">不定位胆</a></li>
          <li ><a href="#">定位胆</a></li>
          <li ><a href="#">任选三</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-body">
    <div>
      投注类型:
      <span class="label label-primary">四星直选复式</span>
      <span class="label label-success">四星直选单式</span>
    </div>
  </div>
</div>


