<% layout('layout') -%>
<!-- script -->
<%- Loader().js("/public/javascripts/game.js").done() %>
<div class="page-header">
  <h1>天津 <small>时时彩</small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div id="div_category_container" class="panel_category">
      <div class="game_category">
        <span class="category_title">投注玩法:</span>
      </div>
      <div id="category" class="btn-group">
        <%
            var categoryList = locals.categoryList || [];
            for(var i = 0; i < categoryList.length; i++) {
        %>
              <button id="category_<%= categoryList[i].PlayId %>" playid="<%= categoryList[i].PlayId %>" type="button" class="btn btn-default"><%= categoryList[i].PlayName %>
              </button>
        <%      
          }
        %>
      </div>
    </div>
    <div id="div_subCategory_container" class="panel_category">
      <div class="game_category">
        <span class="category_title">投注类型:</span>
      </div>
      <%
          var subCategoryList = locals.subCategoryList || [];
          var i = 0;
          for(i = 0; i < subCategoryList.length; i++) {
            if(i === 0) {
      %>
              <div id="sub_category_<%= categoryList[i].PlayId %>" playid="<%= categoryList[i].PlayId %>" class="btn-group isDisplay">
      <%    } else {    %>
              <div id="sub_category_<%= categoryList[i].PlayId %>" playid="<%= categoryList[i].PlayId %>" class="btn-group nonDisplay">
      <%    }           %>
      <%    for(var j = 0; j < subCategoryList[i].length; j++) {  %>
      
                <button id="sub_category_<%= categoryList[i].PlayId %>_<%= subCategoryList[i][j].PlayInfoId %>" playinfoid="<%= subCategoryList[i][j].PlayInfoId %>" type="button" class="btn btn-default btn-sm"><%= subCategoryList[i][j].PlayInfoName %></button>
      <%    }           %>
            </div>
      <%  }             %>
    </div>
  </div>
  <div class="panel-body">
    <div>
      <%- partial('component/dashboard') %>
      <div>
        <span class="span_remark">您选择了0注, 总金额: <span>0</span>元。 </span>
      </div>
    </div>
  </div>
  
  <%- partial("component/gameList") %>
</div>