<% layout('layout') -%>
<div class="page-header">
  <h1>个人资料</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">基本资料</h3>
  </div>
  <div class="panel-body">
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">游戏账号</span> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;qq16888
    </div>
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">VIP等级</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V2
    </div>
    <p style="height:20px; width: 100%"></p>
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">电子邮箱</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;abcdsea@qq.com
    </div>
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">注册时间</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013-01-01
    </div>
    
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">银行资料</h3>
  </div>
  <div class="panel-body">
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">开户银行</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国工商银行
    </div>
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">银行户名</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6226*********0123
    </div>
    <p style="height:20px; width: 100%"></p>
    <div style=" width:350px; float:left; font-size:17px;">
        <span class="label label-default">银行卡号</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6226*********0123
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">账号信息</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
